*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font: 400 1.6rem/1.7 "Lato",sans-serif;
  color: $color-gray;
  padding: 3rem;
}