%heading-placeholder {
  font-weight: 700;
  text-transform: uppercase;
  backface-visibility: hidden;
}

%heading-primary-placeholder {
  color: $color-white;
  margin-bottom: 6rem;
}

.heading-primary {
  @extend %heading-placeholder;
  @extend %heading-primary-placeholder;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;
  }
  
  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  @extend %heading-placeholder;
  display: inline-block;
  font-size: 3.5rem;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s $animation-timing;

  &:hover {
    transform: skew(15deg, 2deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .15);
  }
}

.heading-tertiary {
  @extend %heading-placeholder;
  font-size: $default-font-size;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}