%heading-placeholder {
  font-weight: 700;
  text-transform: uppercase;
  backface-visibility: hidden;
}

%heading-primary-placeholder {
  color: $color-white;
  margin-bottom: 6rem;
}

.heading-primary {
  @extend %heading-placeholder;
  @extend %heading-primary-placeholder;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;

    @include respond(phone) {
      font-size: 5rem;
      letter-spacing: 1rem;
    }
  }
  
  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      letter-spacing: .5rem;
    }
  }
}

.heading-secondary {
  @extend %heading-placeholder;
  display: inline-block;
  font-size: 3.5rem;
  color: $color-primary;
  letter-spacing: 2px;
  transition: all .2s $animation-timing;
  
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  @include respond(tab-land) {
    font-size: 3.2rem;
  }

  @include respond(tab-port) {
    font-size: 2.8rem;
  }
  
  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skew(15deg, 2deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .15);
  }
}

.heading-tertiary {
  @extend %heading-placeholder;
  font-size: $default-font-size;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) { margin-bottom: 3rem }
}