$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-white: #fff;
$color-gray: #777;
$shadow-color: rgba(0,0,0,.2);
$border-radius-large: 10rem;

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font: 400 1.6rem/1.7 "Lato",sans-serif;
  color: $color-gray;
  padding: 3rem;
}

.header {
  position: relative;
  height: 90vh;
  background: linear-gradient(to right bottom, rgba($color-primary-light,.8), rgba($color-primary-dark,.8)), url(../img/hero.jpg) no-repeat top center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  
  &__logo {
    height: 3.5rem;
  }
  
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

%heading-placeholder {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary {
  @extend %heading-placeholder;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;
  }
  
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

%btns-placeholder {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: $border-radius-large;
  transition: all .2s ease;
}

.btn {
  &:link, &:visited {
    @extend %btns-placeholder
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem $shadow-color;
  }
  
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem $shadow-color;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: $border-radius-large;
    transition: all .2s ease-out;
  }
  
  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  &--white {
    background-color: $color-white;
    color: $color-gray;
  
    &:after {
      background-color: $color-white;
    }
  }
  
  &--animated {
    animation: moveInBottom .5s ease-out .75s backwards;
  }
}