%btns-placeholder {
  display: inline-block;
  text-decoration: none;
  transition: all .2s $animation-timing;
}

.btn {
  &, &:link, &:visited {
    @extend %btns-placeholder;
    position: relative;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border-radius: $border-radius-large;
    border: none;
    cursor: pointer;

    @include respond(phone) {
      padding: .8rem 3rem;
    }
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
  }
  
  &:active, &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: $border-radius-large;
    transition: all .2s $animation-timing;
  }
  
  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  &--white {
    background-color: $color-white;
    color: $color-gray-dark-1;
  
    &:after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;
  
    &:after {
      background-color: $color-primary;
    }
  }
  
  &--animated {
    animation: moveInBottom .5s ease-out .75s backwards;
  }
}
.btn-text {
  &:link, &:visited {
    @extend %btns-placeholder;
    font-size: $default-font-size;
    color: $color-primary;
    padding: 3px;
    border-bottom: 1px solid $color-primary;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }
}