.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba($color-black, .8);
  z-index: 5000;
  opacity: 0;
  pointer-events: none;
  transition: all .3s $animation-timing-quint;

  &__content {
    @include center-horizontal-vertical;
    width: 75%;
    background: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-white, .2);
    position: absolute;
    border-radius: $border-radius-small;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.25);
    transition: all .4s $animation-timing-quint;
  }

  &__left {
    width: 33.33333%;
    display: table-cell;
  }

  &__right {
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: $color-gray-light-2 1px solid;
    hyphens: auto;
  }

  &:target {
    opacity: 1;
    pointer-events: all;
  }

  &:target &__content {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
    transition-delay: .2s;
  }

  &__close {
    &:link, &:visited {
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      color: $color-gray-dark-1;
      font-size: 3rem;
      line-height: 1;
      text-decoration: none;
      display: inline-block;
      transition: color .2s $animation-timing;

      &:hover, &:focus {
        color: $color-primary;
      }
    }
  }
}