.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba($color-black, .4);
  z-index: 5000;
  opacity: 0;
  pointer-events: none;
  transition: all .3s $animation-timing-quint;
  
  @supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  &__content {
    @include center-horizontal-vertical;
    width: 115rem;
    background: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-white, .2);
    position: absolute;
    border-radius: $border-radius-small;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.25);
    transition: all .4s $animation-timing-quint;

    @include respond(tab-land) {
      width: 95rem;
    }

    @include respond(tab-port) {
      width: 70rem;
    }

    @include respond(phone) {
      width: 90%;
    }
  }

  &__left {
    width: 33.33333%;
    display: table-cell;

    @include respond(tab-land) {
      width: 40%;
    }

    @include respond(tab-port) {
      width: 100%;
      display: block;
    }
  }

  &__right {
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-land) {
      width: 60%;
    }

    @include respond(tab-port) {
      width: 100%;
      display: block;
    }

    @include respond(phone) {
      padding: 2rem 3rem 3rem;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;

    @include respond(tab-port) {
      width: 50%;
      float: left;
      margin-bottom: 2rem;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: $color-gray-light-2 1px solid;
    hyphens: auto;

    @include respond(tab-land) {
      margin-bottom: 3rem;
      column-count: 1;
    }

    @include respond(phone) {
      margin-bottom: 2rem;
    }
  }

  &:target {
    opacity: 1;
    pointer-events: all;
  }

  &:target &__content {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
    transition-delay: .2s;
  }

  &__close {
    &:link, &:visited {
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      color: $color-gray-dark-1;
      font-size: 3rem;
      line-height: 1;
      text-decoration: none;
      display: inline-block;
      transition: color .2s $animation-timing;

      &:hover, &:focus {
        color: $color-primary;
      }

      @include respond(phone) {
        top: 0rem;
        right: 1rem;
        font-size: 5rem;
      }
    }
  }
}