.navigation {

  &__checkbox { display: none }

  &__button {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 5.5rem;
    right: 6rem;
    text-align: center;
    background: $color-white;
    cursor: pointer;
    box-shadow: 0 1 rem 3rem rgba($color-black, .1);
    z-index: 2000;

    @include respond(tab-port) {
      top: 2.5rem;
      right: 4rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    z-index: 1000;
    transform: scale(1);
    transition: transform .8s $animation-timing-quint;

    @include respond(tab-port) {
      top: 3rem;
      right: 4.5rem;
    }
  }

  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-20%);
    transition: all .6s $animation-timing-out;
  }

  &__list {
    @include center-horizontal-vertical;
    position: absolute;
    width: 100%;
    list-style: none;
    text-align: center;
  }

  &__item { margin: 1rem 0 }

  &__link {
    &:link, &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 50%, $color-white 50%);
      background-size: 220%;
      transition: all .2s $animation-timing;

      span {
        display: inline-block;
        margin-right: 1.5rem;
      }
    }

    &:hover, &:focus {
      background-position: right;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }
  
  // FUNCTIONALITY

  &__checkbox:checked ~ &__background { transform: scale(80) }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
    transition-duration: .8s;
  }

  // ICON

  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &, &::before, &::after {
      display: inline-block;
      width: 3rem;
      height: 2px;
      background: $color-gray-dark-3;
      transition: all .2s $animation-timing;
    }

    &::before, &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before { top: -.8rem }

    &::after { top: .8rem }
  }

  &__button:hover &__icon::before, &__button:focus &__icon::before { top: -1rem }

  &__button:hover &__icon::after, &__button:focus &__icon::after { top: 1rem }
  
  &__checkbox:checked + &__button &__icon { background-color: transparent }

  &__checkbox:checked + &__button &__icon::before, &__checkbox:checked + &__button &__icon::after {
    top:0;
    transform-origin: center center;
  }

  &__checkbox:checked + &__button &__icon::before { transform: rotate(-135deg) }

  &__checkbox:checked + &__button &__icon::after { transform: rotate(135deg) }
}